.input-div-for-csv {
  border: 1px solid rgb(198, 10, 250);
  border-radius: 10px;
  padding: 20px 0px;
}

.input-div-for-csv label {
  color: #fff;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.1%; /* 30.82px */
  letter-spacing: 1.1px;
}

.display-csvfile-here {
  border: 1px solid rgb(180, 8, 242);
  margin-top: 20px;
  border-radius: 20px 20px 10px 10px;
}

.input-csv-feild {
  color: #fff;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.1%; /* 30.82px */
  letter-spacing: 1.1px;
  font-size: 20px;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

table {
  /* margin: 10px 0px; */
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(199, 21, 154, 0.425);
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.table-wrapper::-webkit-scrollbar-button {
  display: none;
}

.button-to-submit-csv {
  padding: 10px;
  /* background-color: rgba(0, 191, 255, 0.306); */
  background-color: transparent;
  font-family: Almarai;
  font-size: 20px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.085em;
  text-align: center;
  margin: 0px 400px;
  margin-bottom: 20px;
  color: white;
  border: 1px solid rgb(157, 9, 237);
  border-radius: 25px;
}

.button-to-submit-csv:hover {
  box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px;
  scale: 1.01;
  background-color: rgba(206, 16, 231, 0.494);
}
